<ion-view title="Task">
    <ion-header-bar class="bar-dark">
        <h1 class="title">Tasks</h1>
        <button class="button button-icon" ng-click="newTask()">
            <i class="icon ion-compose"></i>
        </button>
    </ion-header-bar>
    <!--<div class="bar bar-subheader">-->
    <!--<h2 class="title">Sub Header</h2>-->
    <!--</div>-->
    <ion-content>
        <ion-list>
            <ion-item ng-repeat="task in tasks">
                {{task.title}}
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>

