<ion-view title="Main">
    <ion-content class="has-header padding">
        <div class="card">
            <div class="item item-divider">
                Login
            </div>
            <div class="item item-text-wrap">
                <div class="list">
                    <label class="item item-input">
                        <span class="input-label">Username:</span>
                        <input type="text">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">Password:</span>
                        <input type="password">
                    </label>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>