<ion-tabs class="tabs-icon-top">
    <ion-tab title="Main" icon="icon ion-home" href="#/tab/main">
        <ion-nav-view name="tab-main"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Project" icon="icon ion-cloud" href="#/tab/project">
        <ion-nav-view name="tab-project"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Story" icon="icon ion-heart" href="#/tab/story">
        <ion-nav-view name="tab-story"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Task" icon="icon ion-help-buoy" href="#/tab/task">
        <ion-nav-view name="tab-task"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Account" icon="icon ion-gear-b" href="#/tab/account">
        <ion-nav-view name="tab-account"></ion-nav-view>
    </ion-tab>
</ion-tabs>
